# python stuff
passlib[bcrypt]
python-dotenv
pymongo

# backend
fastapi
uvicorn
jinja2
python-multipart

# observability
logfire
logfire[fastapi]

# ai stuff
nest-asyncio
pydantic-ai
groq
pydantic-ai-slim[tavily]